@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Merriweather:wght@700&family=Roboto+Condensed:wght@300;400;700&display=swap');

.bg{
    background: url('../img/bg_tech.jpg') no-repeat;
    background-size: cover;
    height: auto;
}
/* ========== MENU ==========*/

.container{
    box-sizing: border-box;
    max-width: 1680px;
    margin: 0 auto;
    display: flex;
    gap:2%;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    font-family: 'Roboto Condensed', sans-serif;
}

header{
    background-color: #585858
}

.cabecalho{
    justify-content: space-between;
}

.img-logo {
    max-width:150x;
    max-height:52px;
    width: auto;
    height: auto;
}

.menu-nav a{
    color: white;
    text-decoration: none;
    font-size: 1.4rem;
    margin-right: 2rem;
    padding: 0.5rem;
    transition: .5s;
    border-radius: 0.5rem;
}

.menu-nav a:hover{
    color:rgb(3, 3, 29);
    background-color: white;
    font-weight: bold;
}

.social{
    background:  #78787B;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

.social-icones{
    color: white;
    font-size:2rem;
}

.social-icones i{
    padding: 0.5rem 1rem;
    cursor: pointer;
}

/* ========== CONTEUDO PRINCIPAL ==========*/

.titulo-pagina{
    display: flex;
    justify-content:center;
    color: white;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    padding-top: 4rem;
}

.titulo-conteudo-principal{
    color: white;
    max-width: 1680px;
    margin: 0 auto;
    font-size: 50px;
    font-family: 'Merriweather', serif;
    
}

.img-titulo-pagina{
    margin-left: 20px;
    max-width: 50px;
}

.conteudo-principal{
    margin-top: 3rem;
    min-height: 900px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 700px;
    border-radius: 5px;
    width: 400px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background:rgb(255, 255, 255);
    text-align: center;
    transition: all 0.5s ease;
}

.card:hover{
    transform: scale(1.1);
    z-index: 1;
}

.card-img-titulo{
    display: inline-block;
    position: relative;
}

.card-img-titulo figcaption{
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 1rem;
    padding: 8px 20px;
    border-radius: 20px;
    color: white;
    background: rgb(146, 203, 250);
    text-shadow: 0px 0px 5px black;
}

.card-titulo{
    padding-top: 20px;
    font-size:1rem;
    font-weight: 700;
}

.card-img{
    width:100%;
    height: 230px
}

.card-titulo-post{
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 2px;
    height: 7rem;
}

.card-texto{
    padding: 10px;
    font-size: 1.2rem;
    text-align: justify;
    height: 13.25rem;
}

.card-continueLendo{
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 20px 20px ;
    display: inline-block;
    font-size:16px;
    font-weight: 700;
    text-align: left;
    color: orange;
    height: 2rem;
}

.card-data{
    padding: 10px;
}

footer{
    display: block;
    background-color:  #585858;
    color: white;
    text-align: center;
}


 /* ========== RESPONSIVO ========== */

@media screen and (max-width: 1470px){
    .card{
        flex-direction: column;
        justify-content: space-between;
        max-width: 18.75rem;
    }
}

@media screen and (max-width: 1300px){
    .titulo-pagina{
        font-size: 1.5rem;
    }

    .menu-nav a{
        font-size: 1.1rem;
        margin-right: 0.8rem;
        padding: 0.5rem;
    }

    .conteudo-principal{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        column-gap: 10px;
        padding: 0 50px;
    }

    .card{
        width: 30%;
        height: 500px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 922px){
    .titulo-pagina{
        font-size: 1.5rem;
    }

    .img-logo {
        max-width:110x;
        max-height: 35px;
    }

    .menu-nav a{
        font-size: 1rem;
        margin-right: 0.5rem;
        padding: 0.2rem;
    }

    .card{
        width: 45%;
        height: 400px;
        max-width: 18.75rem;
        margin-bottom: 20px;
    }

    .card-titulo{
        padding: 8px;
        font-size:1.2rem;
    }
    
    .card-img{
        width:100%;
        height: 150px
    }
    
    .card-titulo-post{
        margin-top: 5px;
        font-size: 1.2rem;
        font-weight: bold;
    }
    
    .card-texto{
        padding: 8px;
        font-size: 16px;
    }
    
    .card-data{
    
    }
 }


@media screen and (max-width: 648px){
    .cabecalho{
        justify-content:center
    }

    .titulo-pagina{
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
    }

    .titulo-pagina img{
        display: none;
    }

    .menu-nav{
        display: none;
    }
    .conteudo-principal{
        flex-direction: column;
    }

    .card{
        width: 60%;
        height: 400px;
        
    }
}