.container-post {
    background: url('../img/bg-post.jpg') no-repeat;
    background-size: cover;
}

.post-titulo{
    background: url('../img/bg_tech_post2.jpg') no-repeat;
    background-size: cover;
    height: 400px;
}

.post-titulo-txt{
    color: black;
    max-width: 1140px;
    padding: 4rem 2rem;
    font-size: 70px;
    text-align: center;
    margin: 0 auto;
    /* font-weight: bold; */
    font-family: 'Merriweather', serif;
    line-height: 6rem;
}

.post-txt{
    font-size: 24px;
    line-height: 44px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 1rem;
}

p {
    display: block;
    padding: 1.5rem 0;
}

.esconder{
    display: none;
}


/* ========== RESPONSIVO ========== */

@media screen and (max-width: 1300px){
    .post-txt{
        font-size: 24px;
        max-width: 900px;
    }
    
}

@media screen and (max-width: 1000px){
    .post-titulo-txt{
        max-width: 800px;
        font-size: 52px;
        line-height: 6rem;
    }

    .post-txt{
        font-size: 20px;
        line-height: 36px;
        max-width: 800px;
    }
 }


@media screen and (max-width: 840px){
    .post-titulo-txt{
        max-width: 600px;
        font-size: 48px;
        line-height: 5rem;
    }

    .post-txt{
        font-size: 20px;
        line-height: 36px;
        max-width: 600px;
    }
 }

 @media screen and (max-width: 648px){
    .post-titulo-txt{
        max-width: 600px;
        font-size: 40px;
        line-height: 4rem;
    }

    .post-txt{
        font-size: 20px;
        line-height: 36px;
        max-width: 450px;
    }
 }

 @media screen and (max-width: 440px){
    .post-titulo-txt{
        max-width: 600px;
        font-size: 36px;
        line-height: 4rem;
        padding: 1.5rem 2rem;
    }

    .post-txt{
        font-size: 18px;
        line-height: 36px;
    }
 }